<html>
    <head>
        <title>
            demonstration
        </title>
        <script src="jquery-3.3.1.min.js"></script>
    </head>
    
    <body> 
    <input id="name" list="tees">
    <datalist id="tees">
    <% foundItems.forEach(function(item){%>
        <option value="<%= item.name %>">
        
    <% }) %>
    </datalist>
    <input id="registerCode" type="text">
    <input id="price" type="text">
    <input id="quantity" type="number" name="quantity" min="0" value="1">
    <select id="type">
        <option value="sztuka">sztuka</option>
        <option value="czajnik">czajnik</option>
        <option value="gaiwan">gaiwan</option>
        <option value="opakowanie">opakowanie</option>
        <option value="gram">gram</option>
    </select>
    <script type="text/javascript" src="demo.js"></script>
    </body>
</html>