<% include ./partials/header %>

<div id="main-form" class="container">
    <form class="">
                Code
                Name
                Type
                Count
                 Price
                Hint
                Discounted Price
<br>
        <% include ./table-row %><% include ./table-row %><% include ./table-row %>
       
                <button class="btn btn-primary">submit</button>

    </form>
</div>


<% include ./partials/footer %>