<html>
    <head>
        <title>
            demonstration
        </title>
        <script src="jquery-3.3.1.min.js"></script>
        <link rel="stylesheet" href="record.css">
        <link rel="stylesheet" href="menu.css">
        <link rel="stylesheet" href="archive.css">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,700" rel="stylesheet">    
        
    </head>
    
    <body> 
    <div id="record-view">
        
        <datalist id="tees">
            <% foundItems.forEach(function(item){%>
                <option value="<%= item.name %>">
                
            <% }) %>
        </datalist>
    </div>
    <script type="text/javascript" src="eventListeners.js"></script>
    <script type="text/javascript" src="header.js"></script>
    <script type="text/javascript" src="orderedItem.js"></script>
    <script type="text/javascript" src="order.js"></script>
    <script type="text/javascript" src="ajax.js"></script>
    <script type="text/javascript" src="menu.js"></script>
    <script type="text/javascript" src="archive.js"></script>

    </body>
</html>