<html>
    <head>
        <title>
            demonstration
        </title>
        <script src="jquery-3.3.1.min.js"></script>
    </head>
    
    <body> 
    <div id="master">
        
        <datalist id="tees">
            <% foundItems.forEach(function(item){%>
                <option value="<%= item.name %>">
                
            <% }) %>
        </datalist>
    </div>
    <script type="text/javascript" src="createItem.js"></script>
    <script type="text/javascript" src="createOrder.js"></script>
    <script type="text/javascript" src="eventListeners.js"></script>
    <script type="text/javascript" src="updateOrderedItemsDB.js"></script>
    <script type="text/javascript" src="header.js"></script>

    </body>
</html>