                <input class="code-input" type="text">
             <input type="text">
             <select id="browsers">
  <option value="Sztuka">sztuka</option>
  <option value="Czajnik">czajnik</option>
  <option value="Gaiwan">gaiwan</option>
  <option value="Opakowanie">opakowanie</option>
  <option value="Gram">gram</option>
</select>
                <input type="number" min="0" step="1" max = "500">
               <input type="text">
               <input type="text">
               <input type="text">



<br><br>