.order-table, .order-sum {
    width: 5em;
}

.type {
    width: 6em;
}

#archived-orders {
    display: flex;
    flex-direction: column;

}

.archived-order {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

.expand-button {
    width: 6em;
    background: #215f00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e4e4d9, #215f00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e4e4d9, #215f00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
}

.send-back {    
    background: #00416A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #E4E5E6, #00416A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #E4E5E6, #00416A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}