#menu {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
}

.menu-code {
    width: 2em;
}

.menu-price0, .menu-price1, .menu-price2, .menu-price3, .menu-price {
    width: 6em;
}

#navigation {
    display: flex;
    justify-content: flex-end;
    
}

.new-order-button, .update-button {
    width: 5em;
}

button {
    outline: none;
}

.update-button {
    background: #00416A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E4E5E6, #00416A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E4E5E6, #00416A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.new-order-button {
    background: #215f00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e4e4d9, #215f00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e4e4d9, #215f00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
}

input, .type{
    background: silver;

    
}