body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.3em;
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

button, input, select {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
}

.navigation-button {
    margin: 1% 1% 1% 1%;
}

#header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}


.top-panel{
    display: flex;
}

.discount-label, .sum-label {
    margin-left: auto;
}
.bottom-panel {
    display: flex;
    order: 4;
}


.labels{
    margin: 0.5% 0% 0.5% 0%;
}

.order {
    margin: 1% 0% 1% 0%;
    display: flex;
    flex-direction: column;

}

.registerCode{
    width: 2em;
}

.price, .discounted-price, .quantity, .sum, .discounted-sum{
    width: 4em;
}

.name {
    width: 20em;
}
.type, .table{
    width: 7em;
} 

.hint, .discounted-sum-label {
    width: 10em;
}

.discounted-sum-label {
    text-align: right;
}

#create-order, .add-item-button {
    background: #215f00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #e4e4d9, #215f00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #e4e4d9, #215f00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.delete-button {
    background: #EF3B36;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FFFFFF, #EF3B36);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FFFFFF, #EF3B36); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.send-button {
    background: #00416A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E4E5E6, #00416A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E4E5E6, #00416A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#show-archive {
    background: #DBE6F6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #C5796D, #DBE6F6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #C5796D, #DBE6F6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

button {
    outline: none;
}

#show-menu {
    background: #fceabb;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #f8b500, #fceabb);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #f8b500, #fceabb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.sum, .discounted-sum {
    border-color: #EB5757;  /* fallback for old browsers */
    border-color: -webkit-linear-gradient(to left, #000000, #EB5757);  /* Chrome 10-25, Safari 5.1-6 */
    border-color: linear-gradient(to left, #000000, #EB5757); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#order-display {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}
.collapse-order {
    width: 11em;
}